/* 
==================
Define global CSS variables
================== 
*/

:root {
  --color-primary: #1e96fc;
  --color-secondary: #ffc600;
  --color-tertiary: #eb5757;
}

/* 
==================
Default elements styling
================== 
*/

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* 
==================
Utility classes
================== 
*/

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}

.bg-purple {
  background-color: #8b57eb !important;
}

/* 
==================
Content segmentation
================== 
*/

.content-wrapper {
  max-width: 1264px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

/* 
==================
Typography
================== 
*/

h1 {
  font-size: 72px;
  font-weight: 800;
}

h2 {
  font-size: 56px;
  font-weight: 800;
}

h2::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 80px;
  background-color: var(--color-primary);
  transform: translateY(96px);
}

h3 {
  font-size: 40px;
  font-weight: 800;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

em {
  background-image: linear-gradient(
    var(--color-secondary),
    var(--color-secondary)
  );
  background-position: 0 0.55em;
  background-repeat: no-repeat;
  font-style: normal;
  overflow: hidden;
}

.body-text-lg {
  font-size: 20px;
}

/* 
==================
Buttons
================== 
*/

.btn {
  padding: 16px 32px 16px 32px;
  border-radius: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
  box-shadow: inset 4rem -4rem 0 0 var(--color-secondary);
  color: #000000;
}

.btn-outline {
  background-color: none;
  box-shadow: inset 0 0 0 2px #000000;
  color: #000000;
}

.btn-outline:hover,
.btn-outline:focus {
  box-shadow: inset 4rem -4rem 0 0 var(--color-secondary);
}

.btn-pagination {
  width: 72px;
  height: 72px;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
}

.btn-pagination svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-pagination span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-pagination.active {
  background-color: var(--color-primary);
  color: #ffffff;
}

.btn-pagination:hover,
.btn-pagination:focus {
  color: #000000;
  box-shadow: inset 5rem -5rem 0 0 var(--color-secondary);
}

.btn-search {
  border-radius: 50%;
  padding: 12px 15px;
}

/* 
==================
Intro styles
================== 
*/

.intro-component {
  padding-top: 400px;
  padding-bottom: 400px;
  position: relative;
}

.intro-component .content-wrapper {
  position: relative;
}

.intro-bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 1100px;
  top: -90%;
  right: -40%;
}

.intro-component h1 {
  margin-bottom: 16px;
}

.intro-component p {
  margin-bottom: 12px;
}

.intro-component p:last-of-type {
  margin-bottom: 32px;
}

.intro-buttons {
  display: flex;
  gap: 16px;
}

/* 
==================
"Find us online" styles
================== 
*/

.socials-component {
  position: relative;
}

.socials-component .content-wrapper {
  position: relative;
}

.socials-component .content-wrapper::before {
  content: '';
  position: absolute;
  width: 811px;
  height: 811px;
  left: -20%;
  top: -30%;
  overflow: hidden;
  z-index: -1;
  background: url('/assets/svg/bg/socials-bg.svg') no-repeat;
  background-size: 55%;
}

.socials-component h2 {
  margin-bottom: 68px;
}

.socials-component .body-text-lg {
  margin-bottom: 76px;
}

.social-links-list-lg {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-evenly;
}

.social-link-lg {
  border-radius: 50%;
  color: var(--color-secondary);
}

.social-link-lg:hover {
  box-shadow: #235f943d 0 10px 20px;
  transform: translateY(-5px);
}

/* 
==================
Blog styles
================== 
*/

.blog-component h2 {
  margin-bottom: 76px;
}

.blog-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 48px;
}

.blog-card {
  display: block;
  padding: 36px;
  background-color: #f0f4f8;
  border-radius: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.blog-card:hover {
  box-shadow: #235f943d 0 10px 30px;
  transform: translate(5px, -5px);
}

.blog-card-lg {
  flex-basis: 100%;
}

.blog-card-sm {
  flex-basis: 49%;
}

.blog-card-img {
  margin-top: -36px;
  margin-left: -36px;
  margin-bottom: 24px;
  max-height: 500px;
  min-width: 800px;
  width: 110%;
  object-fit: cover;
}

.blog-card-tag-red {
  color: #eb5757;
  margin-bottom: 16px;
}

.blog-card-tag-blue {
  color: var(--color-primary);
  margin-bottom: 16px;
}

.blog-card-title {
  margin-bottom: 16px;
}

.blog-card-snippet {
  font-size: 20px;
  color: #4f4f4f;
  margin-bottom: 32px;
}

.blog-card-details {
  display: flex;
  align-items: center;
  gap: 44px;
}

.blog-card-authored-info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.blog-card-portrait {
  max-width: 76px;
  border-radius: 50%;
  background-color: #eb5757;
}

.blog-card-author {
  font-weight: 800;
  color: #333333;
  margin-bottom: 4px;
}

.blog-card-date {
  color: #828282;
}

.blog-navigation {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.blog-pagination {
  display: flex;
  gap: 16px;
}

.blog-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  font-size: 20px;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background-color: #f0f4f8;
}

.blog-search-area {
  padding-left: 16px;
  outline: none;
  background-color: #f0f4f8;
  border: none;
}

.btn-search img {
  width: 32px;
  cursor: pointer;
}

.blog-search:focus {
  outline: none;
  outline: 2px solid #235f943d;
  box-shadow: #235f943d 0 10px 15px;
}

/* 
==================
Main navbar styles
================== 
*/

.nav-main-component {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px;
}

.nav-main-logo-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-main-logo {
  max-width: 148px;
}

.nav-main-logo-text {
  font-size: 20px;
  font-weight: 600;
}

.nav-main-links-container {
  display: flex;
  gap: 60px;
}

.nav-main-link {
  font-size: 20px;
  font-weight: 600;
}

.nav-main-link:hover {
  color: var(--color-primary);
}

/* 
==================
Mobile navbar styles
================== 
*/

.nav-mobile-component {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: 120px;
  width: 100vw;
  background-color: #fff;
  border-top: 4px solid #f8f7fa;
}

.nav-mobile-links-list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-mobile-link img {
  width: 40px;
}

.nav-mobile-link.active::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 80px;
  background-color: var(--color-secondary);
  transform: translate(-20px, -40px);
}

/* 
==================
Footer styles
================== 
*/

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  max-width: 200px;
  margin-bottom: 24px;
}

.footer-sitemap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: end;
}

.footer-sitemap a:hover {
  color: var(--color-primary);
}

.social-links-list-sm {
  display: flex;
  gap: 34px;
}

.social-link-sm {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
  color: var(--color-primary);
}

.social-link-sm:hover {
  box-shadow: #235f943d 0 10px 15px;
  transform: translateY(-5px);
}

/* 
==================
Media queries
================== 
*/

@media (max-width: 1200px) {
  .intro-bg-image {
    max-width: 1000px;
    top: -90%;
    right: -30%;
  }

  .socials-component .content-wrapper::before {
    content: '';
    position: absolute;
    width: 811px;
    height: 811px;
    left: -8%;
    top: -20%;
    overflow: hidden;
    z-index: -1;
    background: url('/assets/svg/bg/socials-bg.svg') no-repeat;
    background-size: 45%;
  }
}

@media (max-width: 992px) {
  .nav-main-component {
    display: none;
  }

  .nav-mobile-component {
    display: block;
  }

  footer {
    padding-bottom: 200px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
